body {
  margin: 0;
  font-family: "PingFang SC", "PingFang TC", "Noto Sans CJK SC", "Noto Sans CJK TC", "Microsoft YaHei", Helvetica, Arial;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

em {
  font-style: normal;
}

.container {
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 2.6666666667rem;
  overflow-y: auto;
}

.register-box {
  width: 26.6666666667rem;
  padding: 2.6666666667rem;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out;
  border-radius: 0.6666666667rem;
}

.box-title {
  font-size: 1.8666666667rem;
  text-align: center;
  margin: 0;
}

.form-list {
  padding: 2rem 0;
  font-size: 1.2rem;
}

.form-item + .form-item {
  margin-top: 1rem;
}

.form-title {
  display: inline-block;
  color: #7a7a7a;
}

.form-required {
  color: #d55844;
}

.form-input-box {
  position: relative;
}

.form-input {
  margin-top: 0.6666666667rem;
  display: block;
  height: 2.6666666667rem;
  width: 100%;
  padding: 0 2.3333333333rem 0 1rem;
  box-sizing: border-box;
  border-radius: 0.3333333333rem;
  border: 0.1333333333rem solid #f0f0f0;
  font-size: 1.0666666667rem;
  transition: border-color 0.25s ease-in-out;
}

.form-input:focus {
  outline: 0;
  border-color: #5198d6;
}

.form-input-clean {
  position: absolute;
  font: 0/0 a;
  display: none;
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  top: 0rem;
  right: 0rem;
  background-image: url("../images/clean.png");
  background-size: 1.0666666667rem 1.0666666667rem;
  background-position: center;
  background-repeat: no-repeat;
}

.form-input-clean.active {
  display: block;
}

.form-error-tips {
  min-height: 2rem;
  line-height: 2rem;
  color: #d55844;
  font-size: 1.0666666667rem;
}

.form-error-tips-words {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.error-form .form-input {
  border-color: #d55844;
}
.error-form .form-error-tips-words {
  opacity: 1;
}

.btn {
  display: block;
  width: 100%;
  height: 2.8rem;
  font-size: 1.2rem;
  border-radius: 0.3333333333rem;
  border: none;
  background-color: #5198d6;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.btn:focus {
  outline: 0;
  background-color: #3088d5;
}

.btn:hover {
  outline: 0;
  background-color: #3088d5;
}

.btn:disabled {
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:disabled:hover {
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  background-color: #5198d6;
}

@media only screen and (max-width: 749px) {
  .container {
    overflow-y: auto;
  }

  .register-box {
    width: 42rem;
    padding: 2.6666666667rem;
    background-color: #fff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-out;
    border-radius: 0.6666666667rem;
  }

  .box-title {
    display: block;
    font-size: 2.6666666667rem;
    font-weight: bold;
    text-align: center;
  }

  .form-list {
    padding: 2rem 0;
    font-size: 2rem;
  }

  .form-item + .form-item {
    margin-top: 2rem;
  }

  .form-title {
    display: block;
    color: #7a7a7a;
  }

  .form-required {
    color: #d55844;
    font-style: normal;
  }

  .form-input {
    margin-top: 1.3333333333rem;
    display: block;
    height: 5.3333333333rem;
    width: 100%;
    padding: 0 1.3333333333rem;
    box-sizing: border-box;
    border-radius: 0.6666666667rem;
    border: 0.1333333333rem solid #f0f0f0;
    font-size: 1.7333333333rem;
    transition: border-color 0.25s ease-in-out;
  }

  .form-input-clean {
    position: absolute;
    font: 0/0 a;
    display: none;
    width: 5.2rem;
    height: 5.2rem;
    top: 0rem;
    right: 0rem;
    background-image: url("../images/clean.png");
    background-size: 1.6rem 1.6rem;
    background-position: center;
    background-repeat: no-repeat;
  }

  .form-error-tips {
    min-height: 4rem;
    line-height: 4rem;
    color: #d55844;
    font-size: 1.7333333333rem;
  }

  .btn {
    width: 100%;
    height: 5.3333333333rem;
    font-size: 2rem;
    border-radius: 0.6666666667rem;
    border: none;
    background-color: #5198d6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
  }
}

/*# sourceMappingURL=index-rem.css.map */
